<div class="container mb-5">
  <div class="row">
    <div class="col-3">
      <div class="sidebar text-center">
        <h2 class="text-white">Consulations Per Client</h2>
        <a class="styled-button mb-3" [routerLink]="'/rap'">Rapports</a>
        <a class="styled-button" [routerLink]="'/consultationpsy'">consultations</a>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col">
          <!-- <h2>Consultation Count per Client</h2> -->
          <canvas #consultationChart width="350" height="150"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

