.container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  position: relative;
}



.styled-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.content {
  flex: 1;
  padding: 20px;
  padding-left: 300px; /* Adjusted for sidebar width and padding */
}

.title {
  margin-bottom: 20px;
}

.consultation-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
}

.consultation-table th,
.consultation-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.consultation-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.consultation-item:nth-child(even) {
  background-color: #f9f9f9;
}

.consultation-item:hover {
  background-color: #f0f0f0;
}

.consultation-item td:last-child {
  text-align: center;
}

.action-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
}

.no-consultation-message {
  color: #777;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}



.container {
  display: flex;
  position: fixed;
  left: 0 !important;
}

.sidebar {
  width: 250px;
  background-color: rgb(62, 61, 61, 0.836);
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
top: 7%;
}

.styled-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.content {
  flex: 1;
  padding: 20px;
  padding-left: 25% !important;
}

.title {
  margin-bottom: 20px;
}

.consultation-table {
  width: 100%;
  border-collapse: collapse;
 
}

.consultation-table th,
.consultation-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.consultation-item {
  border-bottom: 1px solid #ddd;
}

.action-button {
  margin-right: 5px;
}

.no-consultation-message {
  text-align: center;
}
