<div class="mainSection">
  <div class="contentBox">
    <h1 class="text-bold text-white">Our Community</h1>
    <p class="text-white">
    A whole world of Premuim Products at your Fingertips
      <i class="fa fa-diamond text-white" aria-hidden="true"></i>
      <br />
      Find the Perfect Product for your Yourself !
    </p>

    <div>
      <div class="btnn rounded-pill">
        <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()" placeholder="Search products by name or type...">
      </div>
    </div>
  </div>
  <div class="imgContainer">
    <img src="../../assets/images/prod1.png" alt="home" />
  </div>
</div>

<div *ngIf="filteredProducts.length > 0; else noProducts">
  <!-- <div class="pagination">
    <button class="pagination-button" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div> -->
  <div class="row mt-5">
    <ng-container *ngFor="let prodsChunk of paginatedProducts">
      <div class="col-md-3" *ngFor="let prods of prodsChunk">
        <div class="card caP">
          <img [src]="prods.imageUrl" class="card-img-top" alt="Product Image"/>
          <div class="card-body bod">
            <hr>
            <h5 class="card-title">Name: {{ prods.prodName }}</h5>
            <h5 class="">Type: {{ prods.typeProd }}</h5>
            <h5>Price: {{ prods.price }} TND</h5>
            <h5>Quantity Available: {{ prods.quantityP }}</h5>
            <a routerLink="/detailProds/{{ prods.idProducts }}" class="btn btn-primary">More ></a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- If there are no filtered products -->
<ng-template #noProducts>
  <p>No products found.</p>
</ng-template>

<!-- Your existing HTML code -->
<div class="pagination ">
  <button class="pagination-button" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>

<button class="chatbot-bubble-button" (click)="toggleChatbot()">
  <span class="chatbot-avatar">🤖</span>
</button>

<!-- Chatbot component (conditionally displayed) -->
<app-chatbot-qa *ngIf="showChatbot" (close)="showChatbot = false"></app-chatbot-qa>
