.delete-consultation-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .delete-consultation-container h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }
  
  .delete-consultation-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .delete-consultation-container button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-consultation-container button:hover {
    background-color: #c82333;
  }
  .cancel-button {
    background-color: white;
    color: blue;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cancel-button:hover {
    background-color: blue;
    color: white;
  }