<div>
    <section>
      <div class="container my-5 py-5">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/images/img111.jpg" alt="About" class="w-75 mt-5" />
          </div>
          <div class="col-md-6">
            <h3 class="fs-5">About Us</h3>
            <h1 class="display-6">
              Who <b>We</b> Are
            </h1>
            <hr />
            <p class="lead mb-4">
              First and foremost, we would like to welcome you to our website.<br/>
              a user friendly application that improves your well being by 
              coaching you both in your physical and mental health assisted by the best experts
            </p>
            <a
            (click)="scrollToServices()"
              class="btn btn-primary rounded-pill px-4 py-2"
            >
              Our Services
            </a>
          
            <a
            (click)="scrollToService()"
              class="btn btn-primary rounded-pill px-4 py-2 ms-2"
            >
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>