.rapport-details{
  margin-top: 10% !important;
  display: flex;
  justify-content: center;
}

.delete-rapport-psy-container {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .delete-rapport-psy-container p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .delete-rapport-psy-container .router-link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .delete-rapport-psy-container .router-link-button:hover {
    background-color: red;
  }
  
  
  .sidebar {
    width: 250px;
    background-color: rgba(62, 61, 61, 0.836);
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
  top: 7%;
  }
  
  .styled-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    padding-left: 25% !important;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .consultation-table {
    width: 100%;
    border-collapse: collapse;
   
  }
  
  .consultation-table th,
  .consultation-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .consultation-item {
    border-bottom: 1px solid #ddd;
  }
  
  .action-button {
    margin-right: 5px;
  }
  
  .no-consultation-message {
    text-align: center;
  }