<div id="services" #services class="text-white">
  <section>
    <div class="container my-5 py-5">
      <div class="row">
        <div class="col-12">
          <h3 class="fd-5 text-center mb-0">Our Services</h3>
          <h1 class="display-6 text-center mb-4">
            Our <b>Awesome</b> Services
          </h1>
          <hr class="w-25 mx-auto" />
        </div>
      </div>
      <div class="row mt-5 ">
        <div class="col-md-4">
          <div class="card p-3 cardcolor">
            <div class="card-body text-center text-white">
              <img class="gym" src="../../assets/images/fitness.png" alt="App Logo">
              <h5 class="card-title mb-3 fs-4 fw-bold">Strenght Training</h5>
              <p class="card-text lead ">
                Journals to document your day full of achievements and graditute
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card p-3 cardcolor">
            <div class="card-body text-center text-white">
              <img class="gym" src="../../assets/images/yoga.png" alt="App Logo">

              <h5 class="card-title mb-3 fs-4 fw-bold">Basic Yoga</h5>
              <p class="card-text lead">
                Relaxation exercice assured by meditation to acheive state of
                calmness
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card p-3 cardcolor">
            <div class="card-body text-center text-white">
              <img class="gym" src="../../assets/images/dumble.png" alt="App Logo">

              <h5 class="card-title mb-3 fs-4 fw-bold">Body Building</h5>
              <p class="card-text lead">
                Get the physic that you dreamed about in order
                to achieve greatness
              </p>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </section>
</div>
