<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <form (submit)="verifyEmail(token)">
        <div class="mb-3 pass text-center">
          <i class="fas fa-key"></i>
          <input
            style="color:black"
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Enter your token"
            [(ngModel)]="token"
          />
          <button
            class="btn btn-primary mt-4 rounded-pill btlog d-block mx-auto"
            type="submit" >Send </button>
        </div>
      </form>
    </div>
  </div>
</div>
