<div class="messenger-container mb-5">
  <div class="chat-list">
    <div class="disc">
      <h2>Discussions</h2>
      <i class="fa fa-plus" aria-hidden="true" (click)="AddNewDiscussion()"></i>
    </div>
    <div *ngIf="result" class="mt-3 alert alert-info">
      <h4>Liste des nutrionistes disponibles : </h4>
      <select class="form-select" [(ngModel)]="selectedNutrioniste" (change)="onNutrionisteSelected()">
        <option *ngFor="let user of nutritionistes" [value]="user?.id">{{user?.username}} {{user?.prenom}}</option>
      </select>
    </div>
    <ul>
      <li *ngFor="let chatRoom of chatRooms" (click)="selectChatRoom(chatRoom)" [ngClass]="{'selected': selectedChatRoom === chatRoom}">
        <i class="fa fa-user" aria-hidden="true">  </i> {{ getUsername(chatRoom) }}
      </li>
    </ul>
  </div>
  <div class="chat-window" *ngIf="selectedChatRoom">
    <h3>{{ getUsername(selectedChatRoom) }}</h3>
    <div class="messages">
      <ul>
        <li *ngFor="let message of selectedChatRoom?.messages" [ngClass]="{'message-right': message.sender?.id === selectedChatRoom?.nutritionist?.id, 'message-left': message.sender?.id === selectedChatRoom?.client?.id}">
          <i class="fa fa-user" aria-hidden="true"> : </i>
          <span class="content">{{ message.content }}</span>
        </li>
      </ul>
    </div>
    <div class="input-area">
      <input type="text" placeholder="Type a message..." #messageInput (keyup.enter)="sendMessage(messageInput.value); messageInput.value=''">
      <button (click)="sendMessage(messageInput.value); messageInput.value=''">Send</button>
    </div>
  </div>
</div>
