<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <form (submit)="resetpassword(token, password)">
        <div class="mb-3 pass text-center">
          <i class="fas fa-key"></i>
          <input
            style="color:black"
            type="text"
            class="form-control"
            name="token"
            id="token"
            placeholder="Enter token"
            [(ngModel)]="token"
          />
        </div>
        <div class="mb-3 pass text-center">
          <i class="fas fa-lock"></i>
          <input
            style="color:black"
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="New password"
            [(ngModel)]="password"
          />
        </div>
          <button
            class="btn btn-primary mt-4 rounded-pill btlog d-block mx-auto"
            type="submit" >Send
          </button>
      </form>
    </div>
  </div>
</div>
