<div class="container">
  <div class="sidebar text-center">
    <h2 class="text-white">Rapports</h2>
    <a class="styled-button" [routerLink]="'/consultationpsy'">consultations</a>
   
  </div>
  <div class="content">
  <h2 class="title">List of Rapport Psy</h2>
  <div class="button-container">
    <button class="action-button" [routerLink]="['/addrapport']">Add Rapport</button>
    <button class="action-button" [routerLink]="['/statspsy']">Show Stats</button>
  </div>

  <!-- Filter input -->
  <div class="filter-container">
    <input type="text" placeholder="Filter by Client or Psychiatrist Username" [(ngModel)]="filterTerm" (input)="applyFilters()">
  </div>

  <ng-container *ngIf="filteredRapports && filteredRapports.length > 0; else noRapports">
    <div class="card-container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let rapport of filteredRapports">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ rapport.description }}</h5>
              <p class="card-date">{{ rapport.dateRappPs | date: 'medium' }}</p>
              <p><strong>Psychiatrist:</strong> {{ rapport.psychiatrist.username }}</p>
              <p><strong>Client:</strong> {{ rapport.clients.username }}</p>
              <div class="action-buttons">
                <button class="action-button" [routerLink]="['/editrapport', rapport.idRapportPsy]">Modify</button>
                <button class="action-button" [routerLink]="['/showrap', rapport.idRapportPsy]">Show</button>
                <button class="action-button" [routerLink]="['/deleter', rapport.idRapportPsy]">Delete</button>
                <button class="action-button mt-2" (click)="generatePdf(rapport.idRapportPsy)">Export PDF</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noRapports>
    <p class="no-rapport-message">No rapport psy available.</p>
  </ng-template>
</div>
</div>