.container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.button-container {
  margin-bottom: 20px;
}

.action-button {
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rapport-table {
  width: 100%;
  border-collapse: collapse;
}

.rapport-table th,
.rapport-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.rapport-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.no-rapport-message {
  font-style: italic;
  color: #999;
}

:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.content {
  flex: 1;
  padding: 20px;
  padding-left: 300px !important; /* Adjusted for sidebar width and padding */
}

.container {
  display: flex;
  position: fixed;
  left: 0 !important;
}

.sidebar {
  width: 250px;
  background-color: rgba(62, 61, 61, 0.836);
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
top: 7%;
}

.styled-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.content {
  flex: 1;
  padding: 20px;
  padding-left: 25% !important;
}

.title {
  margin-bottom: 20px;
}

.consultation-table {
  width: 100%;
  border-collapse: collapse;
 
}

.consultation-table th,
.consultation-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.consultation-item {
  border-bottom: 1px solid #ddd;
}

.action-button {
  margin-right: 5px;
}

.no-consultation-message {
  text-align: center;
}