<div class="addrap">
  <div class="sidebar text-center">
    <h2 class="text-white">New Rapport</h2>
    <a class="styled-button mb-3" [routerLink]="'/rap'">Rapports</a>
    <a class="styled-button" [routerLink]="'/consultationpsy'">consultations</a>
   
  </div>
  
  <div class="container mt-4 ">
  <h2>Add Rapport Psy</h2>
  <form [formGroup]="rapportPsyForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" formControlName="description"></textarea>
      <div *ngIf="rapportPsyForm.controls['description'].invalid && rapportPsyForm.controls['description'].touched" class="text-danger">
        Description is required
      </div>
    </div>
    <div class="form-group">
      <label for="dateRappPs">Date</label>
      <input type="date" id="dateRappPs" class="form-control" formControlName="dateRappPs">
      <div *ngIf="rapportPsyForm.controls['dateRappPs'].invalid && rapportPsyForm.controls['dateRappPs'].touched" class="text-danger">
        Date is required
      </div>
    </div>
    <div class="form-group">
      <label for="clientId">Client</label>
      <select id="clientId" class="form-control" formControlName="clientId">
        <option *ngFor="let client of clients" [value]="client.id">{{ client.username }}</option>
      </select>
      <div *ngIf="rapportPsyForm.controls['clientId'].invalid && rapportPsyForm.controls['clientId'].touched" class="text-danger">
        Please select a client
      </div>
    </div>
    <div class="d-flex submitting">
    <button type="submit" class="btn btn-success">Submit</button>
    <button routerLink="/rap" class="btn btn-primary ">back</button>
  </div>
  </form>
 
</div>
</div>