<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <form (submit)="forgetpassword(email)">
        <div class="mb-3 pass text-center">
          <i class="fas fa-envelope"></i>
          <input
            style="color:black"
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Enter your email"
            [(ngModel)]="email"
          />
            <button
              class="btn btn-primary mt-4 rounded-pill btlog d-block mx-auto"
              type="submit" >Send </button>
          </div>
      </form>
    </div>
  </div>
</div>
