
<h1>Frequently Asked Questions</h1>

<div class="faqs-container">
  <div class="faq active">
    <h3 class="faq-title">
      What is psychiatry, and how does it differ from psychology?
    </h3>
    <p class="faq-text">
      Psychiatry is a branch of medicine focused on diagnosing, treating, and preventing mental health disorders. Psychiatrists are medical doctors who can prescribe medication and often use a medical model to understand mental illnesses. Psychology, on the other hand, is the study of behavior and the mind, focusing on understanding thoughts, emotions, and behaviors through various theories and therapeutic approaches.
    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>
  
  <div class="faq">
    <h3 class="faq-title">
      Is online psychiatry consultation as effective as in-person sessions?    </h3>
    <p class="faq-text">
      Research suggests that online psychiatry consultation can be just as effective as traditional in-person sessions for many individuals. Factors such as convenience, accessibility, and the ability to communicate comfortably from home can contribute to positive outcomes. However, effectiveness may vary depending on the individual's needs and preferences.    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>
  

  
  <div class="faq">
    <h3 class="faq-title">
     
How does stress impact mental health, and what strategies can help manage stress effectively? 
       </h3>
    <p class="faq-text">
      Stress can exacerbate mental health issues like anxiety and depression, affecting overall well-being. Effective stress management involves relaxation techniques, regular exercise, healthy habits, and seeking support when needed. By implementing these strategies, individuals can better cope with stress and minimize its adverse effects on mental health.    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>
  
  
</div>

<!-- SOCIAL PANEL HTML -->
<div class="social-panel-container">
  <div class="social-panel">
    <p>Created with <i class="fa fa-heart"></i> by
      <a target="_blank" href="https://florin-pop.com">Florin Pop</a></p>
    <button class="close-btn"><i class="fas fa-times"></i></button>
    <h4>Get in touch on</h4>
    <ul>
      <li>
        <a href="https://www.patreon.com/florinpop17" target="_blank">
          <i class="fab fa-discord"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/florinpop1705" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/florinpop17" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/florinpop17" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/florinpop17" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  
</div>

<a routerLink="/consultations">Back to Consultations</a>