.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  margin: auto;
  margin-top: 3%;

  justify-content: space-between;
}
.mainSection {
  margin-bottom: -3.2% !important;
  display: flex;

  justify-content: space-around;
  align-items: center;

  background: Orgb(0, 101, 219);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(255, 193, 71, 1) 50%
  );
  min-height: 700px !important;
}
.contentBox {
  margin-left: 2%;
  width: 40%;

  padding-left: 1rem;
}
.contentBox h1 {
  font-size: 2.5rem;
  color: #301934;
}
.contentBox p {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}



.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.myimage::file-selector-button{
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 1vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: white;
  background-color: rgb(4, 128, 252);
}

.submit-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #119c26;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}