<div [ngClass]="status ? 'toggled' : ''" class="d-flex mb-5" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-white" id="sidebar-wrapper">
    <div
      class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"
    >
      <i class="fas fa-user-secret me-2"></i>Admin
    </div>
    <div
      class="list-group list-group-flush my-3"
      *ngIf="isLoggedIn && isUserRoleAdmin()"
    >
      <a
        href="/listUser"
        class="list-group-item list-group-item-action bg-transparent second-text active"
        ><i class="fas fa-user me-2"></i>Users</a
      >
      <a
        href="userStatistics"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-area-chart"></i> Statistics</a
      >
      <a
        routerLink="/dashProds"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-shopping-cart me-2"></i>Products</a
      >
      <a
        href="listpsy"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-user-md"></i>psychiatrists</a
      >
      <a
        href="consultationsadmin"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa fa-connectdevelop" aria-hidden="true"></i>Consultations</a
      >
      <a
        href="rapadmin"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-paperclip me-2"></i>Reports</a
      >
      <a
        href="allquotes"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-quote-left"></i> Quotes</a
      >
      <a
        href="allquestionAd"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-question-circle"></i> Q&A</a
      >
      <a
        href="#"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-shopping-cart me-2"></i>Store Mng</a
      >

      <a
        href="#"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-gift me-2"></i>Products</a
      >
      <a
        href="#"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-comment-dots me-2"></i>Chat</a
      >
      <a
        href="#"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-map-marker-alt me-2"></i>Outlet</a
      >
      <a
        href="#"
        class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"
        ><i class="fas fa-power-off me-2"></i>Logout</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
      <div class="d-flex align-items-center text-white">
        <i
          class="fas fa-align-left primary-text fs-4 me-3"
          (click)="addToggle()"
          id="menu-toggle"
        ></i>
        <h2 class="fs-2 m-0">Dashboard</h2>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  <div class="">
    <div class="form-container">
      <p class="text-white text-center fs-2">New Product !</p>
      <form class="form" (submit)="addProduct()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            [(ngModel)]="newProduct.prodName"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="type">Type:</label><br />
          <select
            id="type"
            [(ngModel)]="newProduct.typeProd"
            name="type"
            required
          >
            <option *ngFor="let type of productTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="price">Price (TND):</label>
          <input
            type="number"
            id="price"
            [(ngModel)]="newProduct.price"
            name="price"
            required
          />
        </div>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input
            type="number"
            id="quantity"
            [(ngModel)]="newProduct.quantityP"
            name="quantity"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea
            id="description"
            [(ngModel)]="newProduct.descriptionP"
            name="description"
            required
          ></textarea>
        </div>
        <label for="dateRappPs">Expiration Date:</label><br />
        <input
          type="date"
          id="dateRappPs"
          name="dateRappPs"
          [(ngModel)]="newProduct.expiration"
          required
        />
        <div class="form-group">
          <label>Image:</label><br />
          <input
            type="file"
            class="myimage"
            (change)="onFileSelected($event)"
            accept="image/*"
            required
          />
        </div>
        <button class="submit-button" type="submit">Add Product</button>
      </form>
    </div>
  </div>

</div>
</div>

