<div *ngIf="rapportPsy" class="rapport-details">
  <h2>Rapport Psy Details</h2>
  <p><strong>ID:</strong> {{ rapportPsy.idRapportPsy }}</p>
  <p><strong>Description:</strong> {{ rapportPsy.description }}</p>
  <p><strong>Date:</strong> {{ rapportPsy.dateRappPs | date }}</p>
  <p><strong>Psychiatrist:</strong> <span class="username">{{ rapportPsy.psychiatrist.username }} {{ rapportPsy.psychiatrist.prenom }}</span></p>
  <p><strong>Clients:</strong> <span class="username">{{ rapportPsy.clients.username }} {{ rapportPsy.clients.prenom }}</span></p>
</div>
<button routerLink="/rap" class="router-link-button">back</button>
