.profile-card {
  border: none;
}

.profile-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-username {
  font-size: 2rem;
  font-weight: bold;
}

.profile-email {
  font-size: 1.1rem;
}

.profile-text {
  font-size: 1rem;
  color: #6c757d;
}

.profile-roles-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.profile-roles-item {
  font-size: 0.9rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-edit-profile {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.profilese{
  margin-bottom: 10% !important;
  
}

.profile-background{
  background: rgb(24, 42, 63); /* Fallback color */
  background: linear-gradient(
    40deg,
   /* 25% position with rgba for the second color */
    rgba(255, 255, 255, 0.5) 20%, /* 50% position with rgba for the third color */
    rgb(239, 108, 60) 55%, /* 75% position with rgba for the fourth color */
    rgb(239, 108, 60) 90% /* 100% position with rgba for the fifth color */
  );
  min-height: 500px;
}
