<div class="main">
<div class="container">
  <h1 class="cart-heading">Shopping Cart</h1>

  <div *ngIf="cartItems.length === 0" class="empty-cart">
    <p>Your cart is empty.</p>
  </div>
  <div *ngFor="let item of cartItems" class="cart-item">
    <div class="item-details">
      <p class="item-name">{{ item.products }}</p>
      <p class="item-price">Price: {{ item.total }} TND</p>
      <p class="item-quantity">Quantity: {{ item.quantity }}</p>
    </div>
    <div class="item-actions">
      <!-- Call removeItemFromCart() method when button is clicked -->
      <button class="remove-button" (click)="removeItemFromCart(item)">Remove</button>
    </div>
  </div>

  <div *ngIf="cartItems.length > 0" class="cart-total">
    <hr>
    <p>Total: {{ total }} TND</p>
    <button (click)=" initiatePayment(currentUser)">Initiate Payment</button>

  </div>
  <div id="card-element"></div>
  
</div>
</div>