<div class="container">
  <h2 class="title">List of Consultations</h2>

  <div class="filter-container">
    <input type="text" [(ngModel)]="filterUsername" (input)="applyFilter()" class="filter-input" placeholder="Filter by Client Username">
  </div>

  <ng-container *ngIf="filteredConsultations && filteredConsultations.length > 0; else noConsultations">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Client Name</th>
          <th>Start Time</th>
          <th>Actions</th> <!-- New column for the action buttons -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consultation of filteredConsultations">
          <td>{{ consultation.consultationdate | date: 'yyyy-MM-dd' }}</td>
          <td>{{ consultation.client.username }}</td>
          <td>{{ consultation.startTime }}</td>
          <td>
            <button [routerLink]="['/showconsultationpsy', consultation.idConsultation]" class="btn btn-primary">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noConsultations>
    <p class="no-consultation-message">No consultations available.</p>
  </ng-template>
</div>