.container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  position: relative;
}
  .title {
    color: #333;
  }
  
  .filter-container {
    margin-bottom: 20px;
  }
  
  .filter-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .no-consultation-message {
    color: #777;
    font-style: italic;
  }
  .content {
    flex: 1;
    padding: 20px;
    padding-left: 300px !important; /* Adjusted for sidebar width and padding */
  }

  .container {
    display: flex;
    position: fixed;
    left: 0 !important;
  }
  
  .sidebar {
    width: 250px;
    background-color: rgb(62, 61, 61, 0.836);
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
  top: 7%;
  }
  
  .styled-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    padding-left: 25% !important;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .consultation-table {
    width: 100%;
    border-collapse: collapse;
   
  }
  
  .consultation-table th,
  .consultation-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .consultation-item {
    border-bottom: 1px solid #ddd;
  }
  
  .action-button {
    margin-right: 5px;
  }
  
  .no-consultation-message {
    text-align: center;
  }