<div>
  <section id="offers">
    <div className="container">
      <div className="row justify-content-center">
        <div className="col-md-8 mt-5">
          <h1 className="display-4   mb-4 text-center text-white">
            <p class="logo1 lead text-center mb-5 text-white">Start Now !</p>

            <br />
          </h1>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container mt-5 mb-5">
  <h1 class="text-center">
    Discover our <span class="highlight">Programs </span>
  </h1>
  <div class="row mt-5 justify-content-center">
    <!-- one -->

    <div class="col-lg-4 mt-2">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/images/ph.png" />
            <h3 class="text-center phw text-white">Physical Workout</h3>
          </div>
          <div class="flip-card-back">
            <img src="../../../assets/images/ph.png" />
            <h3 class="ph1">Let's Train Together</h3>
            <a
            *ngIf="isClient"
              type="submit"
              class="btn btn-primary mt-4 rounded-pill btlog"
              routerLink="../phy"
            >
              Let's Start
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- two -->
    <div class="col-lg-4 mt-2">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/images/mental.png" />
            <h3 class="text-center text-white">Mental Health</h3>
          </div>
          <div class="flip-card-back">
            <img src="../../../assets/images/mental.png" />
            <h3>For a better Mentality</h3>
            <a
            *ngIf="isClient"
              type="submit"
              class="btn btn-primary mt-4 rounded-pill btlog"
              routerLink="../psyc"
            >
            Let's Start
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- three -->
    <div class="col-lg-4 mt-2">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/images/food.png" />
            <h3 class="text-center text-white">Nutritional Health</h3>
          </div>
          <div class="flip-card-back">
            <img src="../../../assets/images/food.png" />
            <h3>For a better nutrition</h3>
            <a
            *ngIf="isClient"
              type="submit"
              class="btn btn-primary mt-4 rounded-pill btlog"
              href="/listNutrio"
            >
            Let's Start
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4 mt-2">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../../assets/img/card1.png" />
                      </div>
                      <div class="flip-card-back">
                        <img src="../../../assets/img/paint1.png" />
                        <h3>Here is ur painting</h3>
                        <h1>$500</h1>
                      </div>
                    </div>
                  </div>  
            </div> -->
  </div>
</div>


<div class="container mt-5 mb-5">
    <h1 class="text-center ">Discover some of <span class="highlight">Our Exercices </span></h1>
    <div class="row mt-5">
        <!-- one -->
        <div class="col-lg-4 mt-2">
                
            <img src="../../../assets/images/ph1.png" />
          
          
</div>
            <!-- two -->
            <div class="col-lg-4 mt-2">
                
                <img src="../../../assets/images/ph2.png" />
              
              
    </div>
            <!-- three -->
            <div class="col-lg-4 mt-2">
                
                        <img src="../../../assets/images/ph3.png" />
                      
                      
            </div>
    </div>
</div>
