<div>
  <section id="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
          <h1 class="display-4 fw-bolder mb-4 text-center text-white"></h1>

          <p class="logo lead text-center fs-4 mb-5 text-white">
            <!-- We provide you with the ability to work and complete your tasks. -->
            <app-logo></app-logo>
          </p>

          <div class="buttons d-flex justify-content-center">
            <div class="App"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-about id="contact" id1="services"></app-about>
  <app-service #services></app-service>
  <div>
    <app-contact #contacts></app-contact>
  </div>
</div>
